@media screen and (orientation: landscape) {
	.section {
		width: 23rem;
		height: 14rem;
	}
}

@media screen and (orientation: portrait) {
	.section {
		flex-direction: column;
		height: 23rem;
		width: 14rem;
	}
}